.popup {
  background-color: rgba($color-black, 0.8);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;

  @supports (backdrop-filter: blur(10px)) {
    backdrop-filter: blur(10px);
    background-color: rgba($color-black, 0.3);
  }

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  &__close {
    &:link,
    &:visited {
      color: $color-grey-dark;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      text-decoration: none;
      display: inline-block;
      transition: all 0.2s;
      font-size: 3rem;
      line-height: 1;
    }

    &:hover {
      color: $color-primary;
    }
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $color-white;
    width: 75%;
    height: 50rem;
    box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
    border-radius: 3px;
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all 0.5s 0.2s;

    @include respond(tab-port) {
      width: 100%;
      height: 100%;
      display: block;
    }

    @include respond(phone) {
      position: relative;
    }
  }

  &__left {
    width: 33.33333333%;
    display: table-cell;

    @include respond(tab-port) {
      display: block;
      height: 50%;
      width: 100%;
      position: relative;
    }

    @include respond(phone) {
      display: none;
    }
  }

  &__right {
    width: 66.6666666%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;

    @include respond(tab-port) {
      display: inline-block;
      height: 50%;
      text-align: center;
      padding-top: 6rem;
      width: 100%;
    }

    @include respond(phone) {
      height: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__img {
    display: block;
    width: 100%;

    @include respond(tab-port) {
      display: inline-block;
      width: auto;
      height: 70%;
      margin: 2rem;
      position: absolute;
    }

    &--1 {
      @include respond(tab-port) {
        top: 1.5rem;
        left: 1.5rem;
      }
    }

    &--2 {
      @include respond(tab-port) {
        top: 1.5rem;
        right: 1.5rem;
      }
    }
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;

    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    -moz-column-rule: 1px solid $color-grey-light-2;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid $color-grey-light-2;

    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
}
